* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background 1s ease;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background: #f0f1ff;
    color: #753852;
}

/* navbar */
.logo {
    width: 15vh;
}

.navbar {
    transition: all 1s;
}

.navbar img {
    width: 15vh;
}

.container-md {
    margin-top: 1rem;
}

/* section 1 home page */

.display {
    display: flex;
    flex-direction: column;
}

.home-first img {
    width: 85vw;
    max-width: 318.75px;
    object-fit: cover;
}

.home-first h1 {
    font-size: 34px;
    max-width: 100%;
    font-weight: bold;
    color: #2F2D65;
}

.home-first p {
    font-size: 12px;
    color: #5D5D83;
    width: 75vw;
    margin-top: 1rem;
}

.home-first .btn {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 6px;
}

.home-first span {
    font-size: 60px;
}

.searchBar-wrapper-landingPage {
    height: 12vh;
}

.searchBar-wrapper-landingPage .first-row-search {
    background-color: #ffffff;
}

.searchBar-wrapper-landingPage #search-button {
    height: 80%;
    padding: 10px;
    width: 15%;
    font-size: 1.3rem;
    margin: 1%;
    border-radius: 21px;
    background-color: #2F2D65;
    color: #ffffff;
}

.searchBar-wrapper-landingPage #filter-provinsi {
    height: 100%;
}

#btn-tryitnow {
    background-color: #4DB0FF;
    color: #ffffff;
    border-radius: 30px;
    width: 30%;
}

#btn-tryitnow:hover {
    background-color: #6eb8f0;
}

#btn-tryitnow:active {
    position: relative;
    top: 2px;
}

@media (min-width: 768px) {
    #fullpage {
        padding-top: 57px;
    }

    .display {
        flex-direction: row;
    }

    .slogan {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .image {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .home-first h1 {
        max-width: 90%;
        font-size: 34px;
        margin-top: auto;
        margin-bottom: 0;
    }

    .home-first span {
        font-size: 80px;
    }

    .home-first p {
        width: 90%;
        font-size: 14px;
        margin: 1rem 0;
    }

    .home-first .btn {
        padding: 0.5rem .7rem;
        font-size: 14px;
        border-radius: .5rem;
        margin-top: .5rem;
        margin-bottom: auto;
        width: fit-content;
    }

    .home-first img {
        vertical-align: middle;
        width: 100%;
        max-width: none;
    }
}

@media (min-width: 992px) {
    .home-first h1 {
        max-width: 80%;
        font-size: 3rem;
    }

    .home-first span {
        font-size: 90px;
    }

    .home-first p {
        font-size: 1rem;
    }

    .home-first .btn {
        font-size: 1rem;
    }

    .home-first img {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {

    /* .home-first h1 {
        font-size: 60px;
    }

    .home-first p {
        font-size: 20px;
    }

    .home-first .btn {
        font-size: 22px;
    } */
    .home-first span {
        font-size: 100px;
    }

    .home-first img {
        max-width: 90%;
    }
}

/* section 2 home page */
.home-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    overflow: visible;
}

.slogan-second {
    text-align: center;
}

.slogan-second h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.slogan-second p {
    width: 80vw;
    font-size: 12px;
    line-height: 1rem;
    text-align: justify;
    margin: 1rem auto;
}

.image-second img {
    width: 70vw;
    max-width: 262.5px;
    margin-top: 2vw;
}

@media (min-width: 768px) {
    .home-second {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .slogan-second {
        order: 5;
        width: 50%;
    }

    .slogan-second h1 {
        font-size: 30px;
    }

    .slogan-second p {
        width: 100%;
        font-size: 14px;
        text-align: justify;
        line-height: unset;
    }

    .image-second {
        width: 50%;
    }

    .image-second img {
        margin-top: 0;
        width: 85%;
        max-width: none;
    }
}

@media (min-width: 992px) {
    .slogan-second h1 {
        font-size: 42.35px;
    }

    .slogan-second p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    /* .slogan-second h1 {
        font-size: 52.94px;
    }

    .slogan-second p {
        font-size: 20px;
    } */
}

/* section 3 home page */
.home-third {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.slogan-third {
    margin-bottom: 5vh;
}

.slogan-third h1 {
    font-size: 22px;
    text-align: center;
}

.slogan-third h1:nth-child(1) {
    font-weight: bold;
}

.slogan-third h1:nth-child(2) {
    font-weight: lighter;
}

.slogan-pembuat-antrean,
.slogan-pengantre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.word-pembuat-antrean,
.word-pengantre {
    /* margin-top: 0vh; */
    flex-basis: 100%;
    /* margin-bottom: -10vh; */
    padding: 0 8vw;
}

.word-pembuat-antrean h1,
.word-pengantre h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.word-pembuat-antrean p,
.word-pengantre p {
    font-size: 12px;
}

.word-pembuat-antrean button,
.word-pengantre button {
    padding: 6px 12px;
    text-align: start;
    width: 50vw;
    border-radius: 20px;
    background-color: #BDE3F7;
    border: none;
}

.word-pembuat-antrean button:active,
.word-pengantre button:active {
    transform: translateY(4px);
}

.img-pembuat-antrean img,
.img-pengantre img {
    width: 0;
}

.word-pembuat-antrean ul,
.word-pengantre ul {
    width: 50vw;
    font-size: 12px;
    display: none;
    margin: 0 auto;
}

#kelebihan-pembuat-antrean,
#kelebihan-pengantre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .slogan-third {
        margin-bottom: 0;
    }

    .slogan-third h1 {
        font-size: 30px;
    }

    .word-pembuat-antrean,
    .word-pengantre {
        /* margin-top: 0vh; */
        flex-basis: 50%;
        /* margin-bottom: -10vh; */
        padding: 0;
        margin: auto;
    }

    .word-pembuat-antrean h1,
    .word-pengantre h1 {
        font-size: 28px;
        text-align: left;
    }

    .word-pembuat-antrean p,
    .word-pengantre p {
        font-size: 14px;
    }

    #kelebihan-pembuat-antrean,
    #kelebihan-pengantre {
        font-size: 14px;
        margin: 0;
    }

    .word-pembuat-antrean button,
    .word-pengantre button {
        padding: 8px 20px;
        width: 348px;
    }

    .word-pembuat-antrean ul,
    .word-pengantre ul {
        width: 100%;
        font-size: 14px;
        display: none;
        margin: 0;
    }

    .img-pembuat-antrean img,
    .img-pengantre img {
        width: 100%;
        height: 348px;
    }
}

@media (min-width: 992px) {
    .slogan-third h1 {
        font-size: 42.35px;
    }

    .word-pembuat-antrean h1,
    .word-pengantre h1 {
        font-size: 38px;
    }

    .word-pembuat-antrean p,
    .word-pengantre p {
        font-size: 1rem;
    }

    #kelebihan-pembuat-antrean,
    #kelebihan-pengantre {
        font-size: 1rem;
    }

    .word-pembuat-antrean ul,
    .word-pengantre ul {
        font-size: 1rem;
    }

    .img-pembuat-antrean,
    .img-pengantre {
        margin: 0 auto;
    }

    .img-pembuat-antrean img,
    .img-pengantre img {
        height: 468px;
    }
}

@media (min-width: 1200px) {
    /* .slogan-third h1 {
        font-size: 52.94px;
    }

    .word-pembuat-antrean h1,
    .word-pengantre h1 {
        font-size: 48px;
    }

    .word-pembuat-antrean p,
    .word-pengantre p {
        font-size: 20px;
    }

    #kelebihan-pembuat-antrean,
    #kelebihan-pengantre {
        font-size: 20px;
    }

    .word-pembuat-antrean ul,
    .word-pengantre ul {
        font-size: 20px;
    } */
}


/* section 4 home page*/
.home-forth {
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 20vh;
    color: #ffffff;
}

.word-kenapa-pilih h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.word-kenapa-pilih p {
    font-size: 12px;
    text-align: justify;
    max-width: 90%;
    margin: 1rem auto;
}

.kemudahan-kenapa-pilih,
.kecepatan-kenapa-pilih,
.fleksibilitas-kenapa-pilih {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 160px;
    /* width: 242px;
    height: 206px; */
    color: #FFFFFF;
    cursor: pointer;
}

.card-kenapa-pilih {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.card-kenapa-pilih div {
    margin: 1rem auto;
}

.kemudahan-word p {
    font-size: 12px;
}

.s4 {
    /* background-color: #FFE77A; */
    margin-top: 100vh;
}

.back {
    background-color: #4DB0FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
}

.front {
    background-color: #4DB0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .home-forth {
        flex-direction: row;
    }

    .word-kenapa-pilih,
    .card-kenapa-pilih {
        width: 50%;
    }

    .word-kenapa-pilih h1,
    .word-kenapa-pilih p {
        text-align: left;
        margin: 0 0 1rem 0;
    }

    .word-kenapa-pilih h1 {
        font-size: 30px;
    }

    .word-kenapa-pilih p {
        font-size: 14px;
    }

    .card-kenapa-pilih {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .kemudahan-kenapa-pilih,
    .kecepatan-kenapa-pilih,
    .fleksibilitas-kenapa-pilih {
        width: 45%;
        height: 135px;
    }

    .kemudahan-word p {
        font-size: 14px;
    }

    .back {
        font-size: .6rem;
    }
}

@media (min-width: 992px) {
    .word-kenapa-pilih h1 {
        font-size: 42.35px;
    }

    .word-kenapa-pilih p {
        font-size: 1rem;
    }

    .kemudahan-kenapa-pilih,
    .kecepatan-kenapa-pilih,
    .fleksibilitas-kenapa-pilih {
        width: 50%;
        height: unset;
        margin: auto !important;
    }

    .kemudahan-kenapa-pilih .front,
    .kecepatan-kenapa-pilih .front,
    .fleksibilitas-kenapa-pilih .front,
    .kemudahan-kenapa-pilih .back,
    .kecepatan-kenapa-pilih .back,
    .fleksibilitas-kenapa-pilih .back {
        width: 180px !important;
        height: 165px !important;
    }

    .kemudahan-word p {
        font-size: 16px;
    }

    .back {
        font-size: .7rem;
    }
}

@media (min-width: 1200px) {
    .word-kenapa-pilih h1 {
        width: 55%;
    }

    .kemudahan-kenapa-pilih .front,
    .kecepatan-kenapa-pilih .front,
    .fleksibilitas-kenapa-pilih .front,
    .kemudahan-kenapa-pilih .back,
    .kecepatan-kenapa-pilih .back,
    .fleksibilitas-kenapa-pilih .back {
        width: 240px !important;
        height: 210px !important;
    }

    .kemudahan-word p {
        font-size: 20px;
    }

    .back {
        font-size: .9rem;
    }
}

/* section 5 home page */
.home-fifth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10vh;
    text-align: center;
}

.share-love-word h1 {
    font-size: 22px;
    color: #2F2D65;
}

.share-love-word p {
    font-size: 12px;
    color: #5D5D83;
}

.share-love-word {
    margin: -2rem 0;
}

.share-love-img-left {
    margin-right: auto;
}

.share-love-img-right {
    margin-left: auto;
}

.share-love-img-left img,
.share-love-img-right img {
    width: 130px;
}

.share-love-img-left img {
    margin-left: -3rem;
    margin-right: auto;
}

.share-love-img-right img {
    margin-left: auto;
    margin-right: -3rem;
}

@media (min-width: 768px) {
    .home-fifth {
        flex-wrap: nowrap;
    }

    .share-love-word h1 {
        font-size: 32px;
    }

    .share-love-word p {
        font-size: 14px;
    }

    .share-love-img-left img,
    .share-love-img-right img {
        width: 220px;
    }
}

@media (min-width: 992px) {
    .share-love-word h1 {
        font-size: 3rem;
    }

    .share-love-word p {
        font-size: 1rem;
    }

    .share-love-img-left img,
    .share-love-img-right img {
        width: 280px;
    }
}

/* footer */
.footer {
    width: 100%;
    height: 15vh;
    background-color: #2F2D65;
    color: #FFFFFF;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content p {
    font-weight: bold;
    font-size: .65rem;
}

.footer-content li {
    font-size: .55rem;
}

.footer-content img {
    width: 80px;
}

/* scroll to top btn */
.scroll-top {
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
    color: #000000;
    font-size: 2rem;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
}

.scroll-top:hover {
    cursor: pointer;
    background-color: #d8c5c5;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
}

.scroll-top.dark {
    background-color: #2B2844;
    color: #ffffff;
}

.scroll-top.dark:hover {
    background-color: #615d80;
}

/* dashboard section */

/* navbar */
#side-nav {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.navbar-dashboard span {
    color: #2F2D65;
}

.dashboard-content {
    width: 100%;
    /* height: 100vh; */
    background-color: #9EEDE5;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    padding: 3vw;
}

.dashboard-content.riwayat {
    min-height: calc(100vh - 300px);
}

.navbar-dashboard ul {
    list-style-type: none;
}

#navbar-hamburger {
    position: fixed;
    top: 50px;
}

#navbar-responsive {
    width: 55px;
    transition: all 0.5s ease;
    padding: .3rem;
    visibility: hidden;
}

#navbar-responsive.active {
    width: 223px;
}

#navbar-responsive.static {
    width: 223px;
}

/* SideNavBar */
.sidebar {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.sidebar-start {
    top: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.sidebar-header {
    margin: .5rem 0;
}

.sidebar-logo {
    width: 0;
    visibility: hidden;
}

#navbar-responsive.active .sidebar-logo {
    width: 100%;
    visibility: visible;
    transition: all 0.5s ease;
}

.sidebar-logo a img {
    width: 100px;
}

.static-sidebar-logo a img {
    width: 160px;
}

.sidebar-hamburger {
    width: 100%;
    font-size: 1.5rem;
    margin: auto 0;
    color: #2F2D65;
}

#navbar-responsive.active .sidebar-hamburger {
    width: 30%;
}

#navbar-responsive ul {
    margin-top: 20px;
    padding: 0;
}

#navbar-responsive ul li {
    position: relative;
    height: 45px;
    width: 100%;
    margin: .5rem 0;
    list-style: none;
    line-height: 45px;
}

#navbar-responsive ul.nav-list li a {
    display: flex;
    color: #2F2D65;
    align-items: center;
    text-decoration: none;
    /* transition: all 0.4s ease; */
    white-space: nowrap;
}

#navbar-responsive ul.nav-list li a:hover {
    color: #fff;
    background: #4dafff;
    border-radius: 12px;
}

#navbar-responsive ul li .links-tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    color: #000;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

#navbar-responsive.active ul li .links-tooltip {
    display: none;
}

#navbar-responsive ul li:hover .links-tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

#navbar-responsive ul li a i {
    height: 45px;
    min-width: 44px;
    border-radius: 12px;
    line-height: 44px;
    text-align: center;
}

#navbar-responsive ul li a span {
    font-size: 14px;
    opacity: 0;
    transition: all 0.5s ease;
}

#navbar-responsive.active ul li a span {
    opacity: 1;
    pointer-events: auto;
}

.selected {
    background-color: #4DB0FF;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    color: #FFFFFF;
    box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.24);
}

.selected-sidenav {
    background-color: #4DB0FF;
    width: 8vw;
    height: 4vh;
    padding: 6% 2%;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.24);
}

.selected a {
    color: #fff !important;
    text-decoration: none;
}

.selected span {
    color: #FFFFFF;
}

.menu {
    cursor: pointer;
}

.sidebar-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .5rem;
}

.sidebar-profile a {
    color: #2F2D65;
    font-size: 14px;
}

.sidebar-profile a img,
.sidebar-profile a span {
    width: 0;
    visibility: hidden;
}

#navbar-responsive.active .sidebar-profile a img,
#navbar-responsive.active .sidebar-profile a span {
    width: 100%;
    visibility: visible;
}

.sidebar-profile a i {
    visibility: inherit;
    width: 100%;
}

#navbar-responsive.active .sidebar-profile a i {
    visibility: hidden;
    width: 0;
}

#navbar-responsive .sidebar-profile ul li a {
    color: #fff;
}

.divider {
    height: 0 !important;
}

/* dashboard content*/

/* row 1 dashboard */
.first-row {
    width: 100%;
}

.first-row-word {
    color: #2F2D65;
}

.first-row-word h1 {
    font-size: 1.3rem;
    font-weight: bold;
}

.first-row-word p {
    font-size: .8rem;
}

.search-body {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 21px;
    /* height: 5%; */
}

.search-body p {
    margin-top: 1vh;
    margin-left: 1vw;
}

#search-tempat-antrean {
    padding-left: 10px;
    font-size: .6rem;
    border-width: 0px;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    outline: none;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
    /* vertical-align: middle; */
}

#filter-provinsi {
    font-size: .6rem;
    border-width: 0px;
    background-color: #FFFFFF;
    color: #757575;
    border-style: solid;
    outline: none;
    width: 55%;
    cursor: pointer;
}

#filter-provinsi:hover,
#search-tempat-antrean:hover {
    background-color: #ebebeb;
    border-radius: 21px;
}

#search-button:hover {
    background-color: #ebebeb;
}

#filter-provinsi:focus,
#search-tempat-antrean:focus {
    background-color: #ffffff;
}


.first-row-search {
    width: 100%;
    height: 45%;
    background-color: #ffffff;
    border-radius: 21px;
    /* margin-right: 30%; */
}

#search-button {
    height: 100%;
    padding: 10px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: #ffffff;
    border: none;
}

#search-button:active {
    /* position: relative; */
    font-size: small;
}


/* row 2 dahsbord */
/* slider kategori */
.second-row {
    width: 100%;
    margin-top: 5vh;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper {
    width: 50%;
}

.swiper-slide {
    text-align: center;
    width: auto;
}

.slide-image {
    height: 150px;
    width: auto;
    cursor: pointer;
}


.swiper-button-prev,
.swiper-button-next {
    color: #001A72;
}

/* row 3 dashboard */

.third-row {
    margin-top: 5vh;
}

.buat-antrian-field {
    background-color: #2B2844;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 5%;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
}

.buat-antrian-field h1 {
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}

.buat-antrian-field p {
    font-size: .7rem;
    font-weight: 300;
    color: #D5D4DB;
    margin-top: 10%;
}

.field-lokasi {
    background-color: #FFFFFF;
    width: 100%;
    height: 60vh;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
}

.coba {
    height: 100%;
}

.navbar-dashboard {
    position: fixed;
}

#tombol-buat-dashboard {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    border: none;
    width: 65%;
}

#tombol-buat-dashboard:hover {
    background-color: #6eb8f0;
}

#tombol-buat-dashboard:active {
    position: relative;
    top: 2px;
}

.link-lihat-semua a {
    text-decoration: none;
    color: #2F2D65;
    font-weight: bold;
}

/* content lokasi antrian */
.word-field-lokasi {
    height: 15%;
}

.word-field-lokasi h1 {
    color: #2B2844;
    font-weight: bold;
    font-size: 1.3rem;
}

.word-field-lokasi p {
    color: #73848C;
    font-weight: 300;
    font-size: .8rem;
}


.content-field-lokasi {
    overflow: auto;
    height: 100%;
}

.content-field-lokasi::-webkit-scrollbar {
    width: 2vw;
}

.content-field-lokasi::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.content-field-lokasi::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #C4C4C4;
}

.content-field-lokasi a {
    text-decoration: none;
}

.hover-wrapper:hover {
    background-color: rgba(158, 237, 229, 0.1);
    border-radius: 30px;
}

.hover-wrapper {
    margin-bottom: 1%;
    cursor: pointer;
}

.hover-wrapper a {
    text-decoration: none;
}

.gambar img {
    width: 50px;
}

.logo-lokasi {
    width: 15vw;
    height: 8vh;
    background-color: #9EEDE5;
    padding: 5%;
    border-radius: 15px;
}

.keterangan-lokasi {
    padding-left: 5%;
    width: 100%;
}

.keterangan-lokasi h1 {
    font-size: 1rem;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-lokasi p {
    color: #73848C;
    font-size: .6rem;
}

.deskripsi-attactment p {
    color: #73848C;
    font-size: .6rem;
}

/* all lokasi */
.field-lokasi-all {
    background-color: #FFFFFF;
    width: 100%;
    height: 80vh;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.field-lokasi-all::-webkit-scrollbar {
    width: 0.5vw;
}

.field-lokasi-all::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.field-lokasi-all::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #C4C4C4;
}

.filter-area {
    width: 20%;
    height: 4vh;
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.10);
    border-radius: 7px;
}

#tombol-filter {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    border-radius: 7px;
    color: #73848C;
}

#tombol-filter:active {
    position: relative;
    top: 2px;
}

.bi-sort-alpha-down {
    margin-right: 10%;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

/* login page */
.login-page {
    background-color: #2F2D65;
    width: 100vw;
    min-height: 100vh;
}

.alert {
    font-size: 12px;
    width: 90%;
    margin: 1rem 0;
}

.alert svg {
    height: 16px;
    width: 16px;
}

.login-content-container {
    background-color: #ffffff;
    padding: 1.5rem 0;
    width: 90vw;
    border-radius: 30px;
    box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.login-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.login-second-column {
    height: 100%;
    width: 85%;
    color: #2F2D65;
}

.login-logo {
    margin-bottom: 25px;
}

.signup-logo {
    margin-bottom: 10px;
}

.login-second-column a {
    max-width: 60%;
}

.login-second-column p {
    color: #73848C;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

.login-second-column form {
    width: 90%;
}

.login-second-column h3 {
    font-weight: bold;
}

.input-nama,
.input-email,
.input-password {
    width: 100%;
}

.input-nama label,
.input-email label,
.input-password label,
.remember_me label {
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}

#tombol-login {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 40px;
    text-decoration: none;
    border: none;
    width: 65%;
}

#tombol-login:hover {
    background-color: #6eb8f0;
}

#tombol-login:active {
    position: relative;
    top: 2px;
}

.login-first-column {
    height: 0;
    visibility: hidden;
}

.login-first-column h1 {
    font-weight: bold;
    color: #2F2D65;
}

.invalid-feedback {
    font-size: 10px;
}

#tombol-reset-password {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    width: 70%;
}

#tombol-reset-password:hover {
    background-color: #6eb8f0;
}

#tombol-reset-password:active {
    position: relative;
    top: 2px;
}

@media (min-width: 768px) {
    .alert {
        width: 720px;
        font-size: 14px;
    }

    .alert svg {
        height: 20px;
        width: 20px;
    }

    .login-content-container {
        width: 720px;
    }

    .login-content {
        flex-direction: row;
    }

    .login-first-column {
        height: 100%;
        visibility: unset;
    }

    .login-first-column,
    .login-second-column {
        width: 50%;
    }

    .login-first-column h1 {
        font-size: 34px;
    }

    .login-first-column div {
        width: 80%;
    }

    .login-second-column form {
        width: 75%;
    }

    .input-nama label,
    .input-email label,
    .input-password label,
    .remember_me label {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    #tombol-login {
        width: 50%;
    }

    .invalid-feedback {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .alert {
        width: 800px;
        font-size: 16px;
    }

    .alert svg {
        height: 24px;
        width: 24px;
    }

    .login-content-container {
        width: 800px;
    }

    .input-nama label,
    .input-email label,
    .input-password label,
    .remember_me label {
        font-size: 16px;
    }

    .form-control {
        font-size: 16px;
    }

    .invalid-feedback {
        font-size: 14px;
    }
}

/* modal untuk filter */
#modal-filter .modal-body-antrian,
.modal-header-antrian,
.modal-footer-antrian {
    background-color: #4dafff;
}


/* pilih loket */
.loket-lokasi {
    background-color: #FFFFFF;
    width: 100%;
    /* height: 45vh; */
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 5vh;
}

.keterangan-loket {
    padding-left: 5%;
}

.keterangan-loket h1 {
    font-size: 1rem;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-loket p {
    color: #73848C;
    font-size: 0.8rem;
}

.keterangan-loket p span {
    color: #2B2844;
    font-weight: bold;
    font-size: 0.8rem;
}

.keterangan-loket .badge {
    border-radius: 10px;
    color: #FFFFFF;
}

.open {
    background-color: #53D383;
}

.closed {
    background-color: #FF4D4D;
}



.tombol-ambil-antrian {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .9rem;
    padding: 5px 60px;
    text-decoration: none;
    border: none;
    width: 100%;
}

.tombol-ambil-antrian:hover {
    background-color: #6eb8f0;
}

.tombol-ambil-antrian:active {
    position: relative;
    top: 2px;
}


.covid-case {
    background-color: #2F2D65;
    border-radius: 15px;
    padding: 0 2%;
    /* padding: 2%; */
    width: 90%;
}

.covid-case p {
    color: #000000;
    padding: 1%;
    /* font-weight: bold; */
}

.covid-case span {
    height: 50%;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #000000;
}

/* modal ambil nomor antrian */
.modal-body-loket {
    background-color: #2B2844;
    color: #FFFFFF;
    min-height: 70vh;
    max-height: 100vh;
    padding-bottom: 5%;
}

.modal-body-loket h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #4DB0FF;
}

#tombol-detail-antrian {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 60px;
    text-decoration: none;
    border: none;
    width: 80%;
}

#tombol-detail-antrian:hover {
    background-color: #6eb8f0;
}

#tombol-detail-antrian:active {
    position: relative;
    top: 2px;
}

/* halaman antrianku */
.buat-antrianmu-jumbotron {
    background-color: #2B2844;
    width: 100%;
    height: 20vh;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
}

.content-buat-antrianmu-jumbotron {
    width: 100%;
    height: 100%;
}

.word-buat-antrianmu-jumbotron h1 {
    font-size: .9rem;
    font-weight: bold;
    color: #FFFFFF;
}

.word-buat-antrianmu-jumbotron p {
    font-size: .6rem;
    font-weight: 300;
    color: #D5D4DB;
}

.content-buat-antrianmu-jumbotron img {
    width: 150px;
}

#tombol-buat-antrianku {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .7rem;
    padding: 5px 40px;
    text-decoration: none;
    border: none;
}

#tombol-buat-antrianku:hover {
    background-color: #6eb8f0;
}

#tombol-buat-antrianku:active {
    position: relative;
    top: 2px;
}

.field-lokasi-all-antrianku {
    background-color: #FFFFFF;
    width: 100%;
    /* height: 80vh; */
    padding: 1%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.keterangan-loket-antrianku {
    padding-left: 5%;
    width: 100%;
}

.keterangan-loket-antrianku h1 {
    font-size: .7rem;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-loket-antrianku p {
    color: #73848C;
    font-size: .5rem;
}

.keterangan-loket-antrianku p span {
    color: #2B2844;
    font-weight: bold;
    font-size: 0.8vw;
}

#right-arrow {
    font-size: 1.5rem;
    transition: all 0.1s;
    color: #4DB0FF;
}

/* halaman riwayat */
.tombol-ambil-batal-antrian {
    background-color: #FF4D4D;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .6rem;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    width: 60%;
}

.tombol-ambil-batal-antrian:hover {
    background-color: #cf2e2e;
}

.tombol-ambil-batal-antrian:active {
    position: relative;
    top: 2px;
}

.nomor-antrian {
    width: 35%;
    text-align: center;
}

.nomor-antrian p {
    font-size: .6rem;
    color: #2B2844;
    font-weight: bold;
}

.nomor-antrian h1 {
    font-size: 1.2rem;
    color: #4DB0FF;
    font-weight: bold;
}

.keterangan-loket-riwayat {
    padding-left: 5%;
    width: 100%;
}

.keterangan-loket-riwayat h1 {
    font-size: .7rem;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-loket-riwayat p {
    color: #73848C;
    font-size: .5rem;
}

.keterangan-loket-riwayat p span {
    color: #2B2844;
    font-weight: bold;
    font-size: .6rem;
}

/* Halaman atur loket */

.tombol-buka-loket {
    background-color: #53D383;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .8rem;
    padding: 5px 20px;
    text-decoration: none;
    border: none;
    width: 100%;
}

.tombol-buka-loket:hover {
    background-color: #47b471;
}

.tombol-buka-loket:active {
    position: relative;
    top: 2px;
}

.tombol-tutup-loket {
    background-color: #FF4D4D;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .8rem;
    padding: 5px 20px;
    text-decoration: none;
    border: none;
    width: 100%;
}

.tombol-tutup-loket:hover {
    background-color: #cf2e2e;
}

.tombol-tutup-loket:active {
    position: relative;
    top: 2px;
}

.keterangan-loket-pemilik {
    padding-left: 5%;
    width: 100%;
}

.keterangan-loket-pemilik h1 {
    font-size: 1rem;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-loket-pemilik p {
    color: #73848C;
    font-size: 0.8rem;
}

.keterangan-loket-pemilik p span {
    color: #2B2844;
    font-weight: bold;
    font-size: 0.8rem;
}

.keterangan-loket-pemilik .badge {
    border-radius: 10px;
    color: #FFFFFF;
}

.atur-loket-lokasi {
    background-color: #FFFFFF;
    width: 100%;
    /* height: 50vh; */
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 5vh;
}

#back-arrow {
    font-size: 1.5rem;
    width: 2vw;
    text-decoration: none;
}

#back-arrow:hover {
    transform: translateX(-5px);
}

#btn-ubah-antrian {
    width: 45%;
    background-color: #4DB0FF;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: .8rem;
}

#btn-ubah-antrian:active {
    transform: translateY(4px);
}

#btn-ubah-antrian:hover {
    background-color: #6eb8f0;
}

.btn-enter-atur-loket {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-size: .8rem;
    padding: 10px 10px;
    text-decoration: none;
    border: none;
    width: 90%;
}

.btn-enter-atur-loket:hover {
    background-color: #6eb8f0;
}

.btn-enter-atur-loket:active {
    position: relative;
    top: 2px;
}

.btn-cancel-atur-loket {
    border-radius: 20px;
    width: 50%;
    font-size: .8rem;
}

.aturLoket-modal-btn-row {
    width: 50%;
    height: 60%;
}

.word-modal-no-loket h2 {
    font-size: 1.5rem;
}

#deleteLoketModal .modal-header,
.modal-body,
modal-footer {
    background-color: #2B2844;
    color: #ffffff;
}

/* Halaman panggil antrian */
.field-panggil-antrian {
    background-color: #FFFFFF;
    width: 100%;
    height: 90vh;
    padding: 10%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.field-panggil-antrian::-webkit-scrollbar {
    width: 0.5vw;
}

.field-panggil-antrian::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.field-panggil-antrian::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #C4C4C4;
}

.field-panggil-antrian h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2B2844;
}

.field-panggil-antrian p {
    font-size: 1.2rem;
}

.field-panggil-antrian span {
    font-size: 1.5rem;
    color: #4DB0FF;
}

.field-panggil-antrian p~span {
    font-size: 6rem;
    color: #4DB0FF;
}

.tombol-panggil-antrian {
    width: 100%;
    height: 7%;
}

.tombol-input-antrian-off {
    height: 100%;
    border-color: #4DB0FF;
    border-radius: 15px;
}

.tombol-input-antrian-off:hover {
    background-color: #4DB0FF;
    border-color: #4DB0FF;
}

.tombol-input-antrian-ol {
    width: 100%;
    height: 80%;
    background-color: #4DB0FF;
    border: none;
    font-size: 1rem;
    border-radius: 15px;
    color: #ffffff;
}

.tombol-input-antrian-ol:hover {
    background-color: #6eb8f0;
    color: #ffffff;
}

.orang-menunggu {
    background-color: #2F2D65;
    border-radius: 15px;
    padding: 2% 2%;
    /* padding: 2%; */
    width: 80%;
}

.orang-menunggu p {
    color: #000000;
    font-size: .75rem;
}

.orang-menunggu span {
    /* height: 50%; */
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #000000;
}

#spinner {
    width: 6rem;
    height: 6rem;
    display: none;
    color: #2F2D65;
}

#modalKonfirmasiAntrean .modal-header,
.modal-body,
.modal-footer {
    background-color: #2B2844;
    color: #ffffff;
}

/* halaman form buat antrian */

.field-form-tambah-antrian {
    background-color: #FFFFFF;
    width: 100%;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
}

.form-tambah-antrian h1 {
    font-weight: bold;
}

.form-tambah-antrian p {
    color: #73848C;
}

.form-tambah-antrian span {
    color: #FF0000;
}

.opt-word {
    font-size: 0.8rem;
    color: #000000 !important;
}

hr.rounded {
    border-top: 8px solid #bbbb;
    border-radius: 5px;
}

.tambah-loket {
    border-color: #4DB0FF;
    color: #4DB0FF;
    transition: all 1s;
}

.tambah-loket:hover {
    background-color: #2F2D65;
    border-color: #4DB0FF;
}

.tombol-submit-form-buat-loket {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 60px;
    text-decoration: none;
    border: none;
}

.tombol-submit-form-buat-loket:hover {
    background-color: #6eb8f0;
}

.tombol-submit-form-buat-loket:active {
    position: relative;
    top: 2px;
}

@media screen and (max-device-width: 375px) {

    /* halaman pilih loket */
    .tombol-ambil-antrian {
        padding: 5px 20px;
        font-size: .8rem;
    }

    #tombol-detail-antrian {
        width: 100%;
    }

    /* Halaman atur loket */

    .tombol-buka-loket {
        font-size: .8rem;
        padding: 5px 10px;
        width: 100%;
    }

    .tombol-tutup-loket {
        font-size: .8rem;
        padding: 5px 10px;
        width: 100%;
    }

    .keterangan-loket-pemilik h1 {
        font-size: 1rem;
    }

    .keterangan-loket-pemilik p {
        font-size: 0.7rem;
    }

    .keterangan-loket-pemilik p span {
        font-size: 0.7rem;
    }

    .atur-loket-lokasi {
        /* height: 40vh; */
        padding: 5%;
        overflow: hidden;
        margin-bottom: 3vh;
    }

    #back-arrow {
        font-size: 1.3rem;
    }

    #btn-ubah-antrian {
        width: 50%;
        font-size: .7rem;
    }

    .btn-enter-atur-loket {
        font-size: .9rem;
        padding: 10px 15px;
        width: 90%;
    }

    .btn-cancel-atur-loket {
        border-radius: 20px;
        font-size: .9rem;
        width: 60%;
    }

    .aturLoket-modal-btn-row {
        width: 50%;
        height: 60%;
    }

    /* footer */
    .footer {
        height: 15vh;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 5%;
    }

    .footer-content p {
        font-size: .55rem;
    }

    .footer-content li {
        font-size: .45rem;
    }

    .footer-content img {
        width: 65px;
    }

    /* Halaman panggil antrian */
    .field-panggil-antrian {
        padding: 10%;
    }

    .field-panggil-antrian h1 {
        font-size: 2.4rem;
    }

    .field-panggil-antrian p {
        font-size: 1rem;
    }

    .field-panggil-antrian span {
        font-size: 1.3rem;
    }

    .field-panggil-antrian p~span {
        font-size: 6rem;
    }

    .tombol-panggil-antrian {
        width: 100%;
        height: 10%;
    }

    .tombol-input-antrian-off {
        height: 100%;
        font-size: .8rem;
    }

    .tombol-input-antrian-ol {
        width: 100%;
        height: 65%;
        font-size: .8rem;
    }

    .orang-menunggu {
        padding: 2% 2%;
        width: 80%;
    }

    .orang-menunggu p {
        color: #000000;
        text-align: center;
        font-size: .8rem;
    }

    /* landing page */
    #btn-tryitnow {
        width: 50%;
        margin-bottom: 20px;
    }

    /* halaman riwayat */
    .tombol-ambil-batal-antrian {
        font-size: .5rem;
        padding: 5px 5px;
        width: 60%;
    }

    .nomor-antrian {
        width: 40%;
    }

    .nomor-antrian p {
        font-size: .5rem;
    }

    .nomor-antrian h1 {
        font-size: 1.1rem;
    }

    .keterangan-loket-riwayat h1 {
        font-size: .6rem;
    }

    .keterangan-loket-riwayat p {
        font-size: .5rem;
    }

    .keterangan-loket-riwayat p span {
        font-size: .6rem;
    }

    /* halaman antrianku */
    .buat-antrianmu-jumbotron {
        width: 100%;
        height: 25vh;
    }

    .content-buat-antrianmu-jumbotron {
        width: 100%;
        height: 100%;
    }

    .content-buat-antrianmu-jumbotron img {
        width: 150px;
    }

    .word-buat-antrianmu-jumbotron h1 {
        font-size: 1rem;
    }

    .word-buat-antrianmu-jumbotron p {
        font-size: .6rem;
    }
}

@media screen and (min-device-width: 768px) {

    /* side nav */
    #navbar-responsive {
        visibility: visible !important;
    }

    .dashboard-container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .menu-not-login span {
        margin-left: 1vw;
        color: #FFFFFF;
    }

    .menu-not-login {
        background-color: #4DB0FF;
        width: 100%;
        padding: 6% 2%;
        text-align: center;
        border-radius: 15px;
        color: #FFFFFF;
        box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        text-decoration: none;
        font-size: 1.3rem;
    }

    .menu-not-login:hover {
        color: #ffffff;
    }

    .menu-not-login:hover {
        background-color: #6eb8f0;
    }

    .menu-not-login:active {
        position: relative;
        top: 2px;
    }

    /* halaman beranda */
    .first-row-word h1 {
        font-size: 2rem;
    }

    .first-row-word p {
        font-size: 1rem;
    }

    .first-row-search {
        width: 50%;
    }

    .slide-image {
        height: 200px;
    }


    .buat-antrian-field {
        background-color: #2B2844;
        width: 100%;
        height: 80%;
        text-align: center;
        border-radius: 30px;
        padding: 5%;
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    }

    .buat-antrian-field h1 {
        font-size: 1.3vw;
        font-weight: bold;
        color: #FFFFFF;
    }

    .buat-antrian-field p {
        font-size: 0.7vw;
        font-weight: 300;
        color: #D5D4DB;
        margin-top: 10%;
    }

    .buat-antrian-field .satu {
        width: 40%;
    }

    .buat-antrian-field .dua {
        height: 100%;
        padding: 1%;
    }

    .buat-antrian-field .dua h1 {
        font-size: 1.2rem;
    }

    .buat-antrian-field .dua p {
        font-size: .7rem;
    }

    #tombol-buat-dashboard {
        margin-top: 5%;
        font-size: 1rem;
        padding: 5px 50px;
    }

    .word-field-lokasi h1 {
        font-size: 1.5rem;
    }

    .word-field-lokasi p {
        font-size: .8rem;
    }

    .field-lokasi {
        height: 90vh;
    }

    .logo-lokasi {
        width: 15vw;
        height: 12vh;
    }

    .gambar img {
        width: 70px;
    }

    .keterangan-lokasi h1 {
        font-size: 1.5rem;
    }

    .keterangan-lokasi p {
        font-size: 1rem;
    }

    .content-field-lokasi::-webkit-scrollbar {
        width: 1.2vw;
    }

    /* halaman all anteran */
    .filter-area {
        width: 15%;
    }

    /* footer */
    .footer {
        height: 25vh;
        padding-top: 5%;
    }

    .footer-content p {
        font-size: 1rem;
    }

    .footer-content li {
        font-size: .8rem;
    }

    .footer-content img {
        width: 150px;
    }

    /* halaman antrianku */
    .buat-antrianmu-jumbotron {
        width: 100%;
        height: 25vh;
    }

    .content-buat-antrianmu-jumbotron {
        width: 100%;
        height: 100%;
    }

    .content-buat-antrianmu-jumbotron img {
        width: 250px;
    }

    .word-buat-antrianmu-jumbotron h1 {
        font-size: 1.3rem;
    }

    .word-buat-antrianmu-jumbotron p {
        font-size: .8rem;
    }

    #tombol-buat-antrianku {
        font-size: 1rem;
        padding: 5px 50px;
    }

    .keterangan-loket-antrianku h1 {
        font-size: 1rem;
        color: #2B2844;
        font-weight: bold;
    }

    .keterangan-loket-antrianku p {
        font-size: .7rem;
    }

    #right-arrow {
        font-size: 3rem;
    }

    /* halaman pilih loket */
    .covid-case {
        padding: 0 2%;
        width: 80%;
    }

    .covid-case p {
        padding: 1%;
    }

    .covid-case span {
        height: 50%;
    }

    .deskripsi-attactment p {
        font-size: .8rem;
    }


    .keterangan-loket h1 {
        font-size: 1rem;
    }

    .keterangan-loket p {
        font-size: 0.8rem;
    }

    .keterangan-loket p span {
        font-size: 0.8rem;
    }

    .tombol-ambil-antrian {
        font-size: .8rem;
        padding: 5px 60px;
        width: 100%;
    }

    .modal-body-loket h1 {
        font-size: 4rem;
    }

    #tombol-detail-antrian {
        font-size: 1rem;
        padding: 5px 50px;
        width: 50%;
    }

    /* Halaman atur loket */

    .tombol-buka-loket {
        font-size: 1rem;
        padding: 5px 20px;
        width: 100%;
    }

    .tombol-tutup-loket {
        font-size: 1rem;
        padding: 5px 15px;
        width: 100%;
    }

    .keterangan-loket-pemilik h1 {
        font-size: 1.2rem;
    }

    .keterangan-loket-pemilik p {
        font-size: 0.8rem;
    }

    .keterangan-loket-pemilik p span {
        font-size: 0.8rem;
    }

    .atur-loket-lokasi {
        /* height: 40vh; */
        padding: 3%;
        overflow: hidden;
        margin-bottom: 5vh;
    }

    #back-arrow {
        font-size: 1.5rem;
    }

    #btn-ubah-antrian {
        width: 30%;
    }

    .btn-enter-atur-loket {
        font-size: .9rem;
        padding: 10px 15px;
        width: 90%;
    }

    .btn-cancel-atur-loket {
        border-radius: 20px;
        font-size: .9rem;
        width: 60%;
    }

    .aturLoket-modal-btn-row {
        width: 50%;
        height: 60%;
    }

    /* search bar */
    #search-tempat-antrean {
        padding-left: 10px;
        font-size: .8rem;
        width: 100%;
    }

    #filter-provinsi {
        font-size: .8rem;
        width: 100%;
    }

    .first-row-search {
        width: 100%;
        height: 45%;
    }

    #search-button {
        height: 100%;
        padding: 10px;
    }

    /* Halaman panggil antrian */
    .field-panggil-antrian {
        padding: 3%;
    }

    .field-panggil-antrian h1 {
        font-size: 2.8rem;
    }

    .field-panggil-antrian p {
        font-size: 1.2rem;
    }

    .field-panggil-antrian span {
        font-size: 1.5rem;
    }

    .field-panggil-antrian p~span {
        font-size: 8rem;
    }

    .tombol-panggil-antrian {
        width: 70%;
        height: 10%;
    }

    .tombol-input-antrian-off {
        height: 100%;
    }

    .tombol-input-antrian-ol {
        width: 100%;
        height: 65%;
        font-size: 1.4rem;
    }

    .orang-menunggu {
        padding: 0.5% 2%;
        width: 45%;
    }

    .orang-menunggu p {
        color: #000000;
        text-align: center;
        font-size: 1rem;
    }

    /* landing page */
    #modalBodyKonfirmasiAntrean {
        width: 70%;
    }

    .searchBar-wrapper-landingPage {
        height: 12vh;
    }

    .searchBar-wrapper-landingPage #search-button {
        height: 80%;
        padding: 10px;
        width: 15%;
        font-size: 1.3rem;
        margin: 1%;
    }

    #btn-tryitnow {
        width: 40%;
    }

    /* halaman riwayat */
    .tombol-ambil-batal-antrian {
        font-size: .8rem;
        padding: 5px 10px;
        width: 45%;
    }

    .nomor-antrian {
        width: 50%;
    }

    .nomor-antrian p {
        font-size: .8rem;
    }

    .nomor-antrian h1 {
        font-size: 1.8rem;
    }

    .keterangan-loket-riwayat h1 {
        font-size: .9rem;
    }

    .keterangan-loket-riwayat p {
        font-size: .7rem;
    }

    .keterangan-loket-riwayat p span {
        font-size: .8rem;
    }
}

@media screen and (min-device-width: 992px) {

    /* sidebar nav */
    #navbar-responsive ul li a span {
        font-size: 1rem;
    }

    .sidebar-start {
        border: none;
    }

    .sidebar-profile a {
        font-size: 1rem;
    }

    .dashboard-container {
        width: calc(100% - 223px);
        margin-left: 223px;
    }

    /* halaman beranda */
    .first-row-word h1 {
        font-size: 2rem;
    }

    .first-row-word p {
        font-size: 1rem;
    }

    .first-row-search {
        width: 25%;
    }

    .slide-image {
        height: 300px;
    }

    .buat-antrian-field {
        background-color: #2B2844;
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 30px;
        padding: 5%;
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    }

    .buat-antrian-field h1 {
        font-size: 1.3vw;
        font-weight: bold;
        color: #FFFFFF;
    }

    .buat-antrian-field p {
        font-size: 0.7vw;
        font-weight: 300;
        color: #D5D4DB;
        margin-top: 10%;
    }

    .buat-antrian-field .satu {
        width: 100%;
    }

    .buat-antrian-field .dua h1 {
        font-size: 1.6rem;
    }

    .buat-antrian-field .dua p {
        font-size: .9rem;
    }

    .word-field-lokasi {
        height: 15%;
    }

    .word-field-lokasi h1 {
        color: #2B2844;
        font-weight: bold;
        font-size: 2rem;
    }

    .word-field-lokasi p {
        color: #73848C;
        font-weight: 300;
        font-size: 1rem;
    }

    .field-lokasi {
        height: 60vh;
    }

    .logo-lokasi {
        width: 10vw;
    }

    .content-field-lokasi::-webkit-scrollbar {
        width: 0.5vw;
    }

    /* halaman all anteran */
    .filter-area {
        width: 8%;
    }

    /* footer */
    .footer {
        width: 100%;
        height: 30vh;
        padding-top: 7%;
    }

    /* halaman antrianku */
    .word-buat-antrianmu-jumbotron h1 {
        font-size: 1.7rem;
    }

    .word-buat-antrianmu-jumbotron p {
        font-size: .9rem;
    }

    .content-buat-antrianmu-jumbotron img {
        width: 300px;
    }

    #tombol-buat-antrianku {
        font-size: 1rem;
        padding: 8px 55px;
    }

    .keterangan-loket-antrianku h1 {
        font-size: 1.2rem;
    }

    .keterangan-loket-antrianku p {
        font-size: .7rem;
    }

    /* halaman pilih loket */
    .loket-lokasi {
        padding: 3%;
    }

    .tombol-ambil-antrian {
        font-size: 1rem;
    }

    .modal-body-loket {
        min-height: 70vh;
        max-height: 100vh;
        padding-bottom: 5%;
    }

    .modal-body-loket h1 {
        font-size: 4rem;
    }

    #tombol-detail-antrian {
        font-size: 1rem;
        padding: 5px 50px;
        width: 40%;
    }

    .covid-case {
        padding: 0 2%;
        width: 75%;
    }

    /* Halaman atur loket */

    .tombol-buka-loket {
        font-size: 1rem;
        padding: 5px 20px;
        width: 100%;
    }

    .tombol-tutup-loket {
        font-size: 1rem;
        padding: 5px 20px;
        width: 100%;
    }

    .keterangan-loket-pemilik h1 {
        font-size: 1.2rem;
    }

    .keterangan-loket-pemilik p {
        font-size: 0.8rem;
    }

    .keterangan-loket-pemilik p span {
        font-size: 0.8rem;
    }

    .atur-loket-lokasi {
        /* height: 40vh; */
        padding: 3%;
        overflow: hidden;
        margin-bottom: 5vh;
    }

    #back-arrow {
        font-size: 1.5rem;
    }

    #btn-ubah-antrian {
        width: 30%;
    }

    .btn-enter-atur-loket {
        font-size: .9rem;
        padding: 10px 15px;
        width: 70%;
    }

    .btn-cancel-atur-loket {
        border-radius: 20px;
        font-size: .9rem;
        width: 50%;
    }

    .aturLoket-modal-btn-row {
        width: 50%;
        height: 60%;
    }

    #modal-konfirmasi-buka-loket .modal-content,
    #modal-konfirmasi-tutup-loket .modal-content {
        width: 80%;
    }

    /* search bar */
    #search-tempat-antrean {
        padding-left: 10px;
        font-size: .8rem;
        width: 100%;
    }

    #filter-provinsi {
        font-size: .8rem;
        width: 60%;
    }

    .first-row-search {
        width: 100%;
        height: 60%;
    }

    #search-button {
        height: 100%;
        padding: 10px;
    }

    /* Halaman panggil antrian */
    .field-panggil-antrian {
        padding: 3%;
    }

    .field-panggil-antrian h1 {
        font-size: 2.8rem;
    }

    .field-panggil-antrian p {
        font-size: 1.2rem;
    }

    .field-panggil-antrian span {
        font-size: 1.5rem;
    }

    .field-panggil-antrian p~span {
        font-size: 8rem;
    }

    .tombol-panggil-antrian {
        width: 70%;
        height: 10%;
    }

    .tombol-input-antrian-off {
        height: 100%;
    }

    .tombol-input-antrian-ol {
        width: 100%;
        height: 65%;
        font-size: 1.4rem;
    }

    .orang-menunggu {
        padding: 0.5% 2%;
        width: 40%;
    }

    .orang-menunggu p {
        color: #000000;
        text-align: center;
        font-size: 1rem;
    }

    .orang-menunggu span {
        /* height: 50%; */
        border-radius: 15px;
        background-color: #FFFFFF;
        color: #000000;
    }

    /* landing page */
    #modalBodyKonfirmasiAntrean {
        width: 70%;
    }

    .searchBar-wrapper-landingPage {
        height: 8vh;
    }

    .searchBar-wrapper-landingPage #search-button {
        height: 80%;
        padding: 10px;
        width: 15%;
        font-size: 1.3rem;
        margin: 1%;
    }

    #btn-tryitnow {
        width: 40%;
    }

    /* halaman riwayat */
    .tombol-ambil-batal-antrian {
        font-size: .7rem;
        padding: 5px 10px;
        width: 40%;
    }

    .nomor-antrian {
        width: 25%;
    }

    .nomor-antrian p {
        font-size: .7rem;
    }

    .nomor-antrian h1 {
        font-size: 2rem;
    }

    .keterangan-loket-riwayat h1 {
        font-size: 1.5rem;
    }

    .keterangan-loket-riwayat p {
        font-size: 1rem;
    }

    .keterangan-loket-riwayat p span {
        font-size: 1rem;
    }

    .dashboard-content.riwayat {
        min-height: calc(100vh - 00px);
    }
}

@media screen and (min-device-width: 1200px) {

    /* halaman antrianku */
    .word-buat-antrianmu-jumbotron h1 {
        font-size: 2rem;
    }

    .word-buat-antrianmu-jumbotron p {
        font-size: 1rem;
    }

    .content-buat-antrianmu-jumbotron img {
        width: 350px;
    }

    #tombol-buat-antrianku {
        font-size: 1.2rem;
        padding: 10px 60px;
    }

    .logo-lokasi {
        width: 6vw;
    }

    .keterangan-loket-antrianku h1 {
        font-size: 1.5rem;
    }

    .keterangan-loket-antrianku p {
        font-size: .9rem;
    }

    /* halaman pilih loket */
    .deskripsi-attactment p {
        font-size: 1rem;
    }

    .keterangan-loket h1 {
        font-size: 1.5rem;
    }

    .keterangan-loket p {
        font-size: 1rem;
    }

    .keterangan-loket p span {
        font-size: 1rem;
    }

    .tombol-ambil-antrian {
        font-size: 1.2rem;
    }

    .covid-case {
        padding: 0 2%;
        width: 40%;
    }

    /* Halaman atur loket */

    .tombol-buka-loket {
        font-size: 1rem;
        padding: 5px 20px;
        width: 100%;
    }

    .tombol-tutup-loket {
        font-size: 1rem;
        padding: 5px 20px;
        width: 100%;
    }

    .keterangan-loket-pemilik h1 {
        font-size: 1.2rem;
    }

    .keterangan-loket-pemilik p {
        font-size: 0.8rem;
    }

    .keterangan-loket-pemilik p span {
        font-size: 0.8rem;
    }

    .atur-loket-lokasi {
        /* height: 40vh; */
        padding: 3%;
        overflow: hidden;
        margin-bottom: 5vh;
    }

    #back-arrow {
        font-size: 1.5rem;
    }

    #btn-ubah-antrian {
        width: 15%;
    }

    #modal-konfirmasi-buka-loket .modal-content,
    #modal-konfirmasi-tutup-loket .modal-content {
        width: 100%;
    }

    /* search bar */
    .searchBar-wrapper {
        width: 45%;
    }

    #search-tempat-antrean {
        padding-left: 10px;
        font-size: 1rem;
        width: 100%;
    }

    #filter-provinsi {
        font-size: 1rem;
        width: 100%;
    }

    .first-row-search {
        width: 100%;
        height: 65%;
    }

    #search-button {
        height: 100%;
        padding: 10px;
    }

    /* landing page */
    .searchBar-wrapper-landingPage {
        height: 8vh;
    }

    .searchBar-wrapper-landingPage .first-row-search {
        background-color: #ffffff;
    }

    .searchBar-wrapper-landingPage #search-button {
        height: 80%;
        padding: 10px;
        width: 15%;
        font-size: 1.3rem;
        margin: 1%;
        border-radius: 21px;
        background-color: #2F2D65;
        color: #ffffff;
    }

    .searchBar-wrapper-landingPage #filter-provinsi {
        height: 100%;
    }


    /* Halaman panggil antrian */
    .field-panggil-antrian {
        padding: 3%;
    }

    .field-panggil-antrian h1 {
        font-size: 3.5rem;
    }

    .field-panggil-antrian p {
        font-size: 1.5rem;
    }

    .field-panggil-antrian span {
        font-size: 2rem;
    }

    .field-panggil-antrian p~span {
        font-size: 10rem;
    }

    .tombol-panggil-antrian {
        width: 70%;
        height: 10%;
    }

    .tombol-input-antrian-off {
        height: 100%;
    }

    .tombol-input-antrian-ol {
        width: 100%;
        height: 80%;
        font-size: 1.7rem;
    }

    .orang-menunggu {
        padding: 0.5% 2%;
        width: 35%;
    }

    .orang-menunggu p {
        color: #000000;

    }

    .orang-menunggu span {
        /* height: 50%; */
        border-radius: 15px;
        background-color: #FFFFFF;
        color: #000000;
    }

    #btn-tryitnow {
        width: 30%;
    }

    /* scroll to top btn */
    .scroll-top {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        margin-right: 30px;
        font-size: 2rem;
    }

    /* halaman riwayat */
    .tombol-ambil-batal-antrian {
        font-size: 1rem;
        padding: 5px 10px;
        width: 30%;
    }

    .nomor-antrian {
        width: 50%;
    }

    .nomor-antrian p {
        font-size: 1.2rem;
    }

    .nomor-antrian h1 {
        font-size: 3rem;
    }

    .keterangan-loket-riwayat h1 {
        font-size: 1.5rem;
    }

    .keterangan-loket-riwayat p {
        font-size: 1rem;
    }

    .keterangan-loket-riwayat p span {
        font-size: 1rem;
    }
}
