* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background 1s ease;
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
.logo {
    width: 15vh;
}

.navbar {
    position: fixed;
    width: 100%;
    transition: all 1s;
}

.navbar img {
    width: 15vh;
}

#fullpage {
    padding-top: 20vh;
}

/* section 1 home page */

.home-first img {
    max-width: 100%;
    object-fit: cover;
}

/* .home-first {
display: flex;
justify-content: space-between;
align-items: center;
} */

.home-first h1 {
    font-size: 4.557291666666667vw;
    /* margin-top: 5%; */
    color: #2F2D65;
    line-height: 4.921874999999999vw;
}

.home-first p {
    font-size: 1.0416666666666667vw;
    color: #5D5D83;
    width: 25vw;
    margin-top: 5vh;
}

/* section 2 home page */
.home-second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    overflow: visible;
}

.slogan-second {
    text-align: center;
    margin-left: 10%;
}

.slogan-second h1 {
    font-size: 3.4vw;
}

.slogan-second p {
    width: 40vw;
    font-size: 1.2vw;
}

.home-second img {
    width: 30vw;
}

/* .s2 {
background-color: #4DB0FF;
} */

/* section 3 home page */
.home-third {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.slogan-third h1:nth-child(1) {
    font-size: 4.166666666666667vw;
    font-weight: bold;
}

.slogan-third h1:nth-child(2) {
    font-size: 4.166666666666667vw;
    font-weight: lighter;
}

.slogan-pembuat-antrean {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.word-pembuat-antrean {
    margin-top: 10vh;
    flex-basis: 50%;
    margin-bottom: -10vh;
}

.word-pengantre {
    margin-top: 10vh;
    flex-basis: 50%;
    margin-bottom: -10vh;
}

.word-pembuat-antrean h1,
.word-pengantre h1 {
    font-size: 4vw;
    font-weight: bold;
}

.word-pembuat-antrean p,
.word-pengantre p {
    font-size: 1.5625vw;
}

.word-pembuat-antrean button,
.word-pengantre button {
    padding: 10px 20px;
    text-align: start;
    width: 25vw;
    border-radius: 20px;
    background-color: #BDE3F7;
    border: none;
}

.word-pembuat-antrean button:active,
.word-pengantre button:active {
    transform: translateY(4px);
}

.img-pembuat-antrean img {
    width: 25vw;
}

.word-pembuat-antrean ul,
.word-pengantre ul {
    width: 30vw;
    font-size: 1.5625vw;
    display: none;
}

.slogan-pengantre {
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
}

.img-pengantre img {
    width: 25vw;
}

#kelebihan-pembuat-antrean,
#kelebihan-pengantre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


/* section 4 home page*/
.home-forth {
    display: flex;
    height: 60vh;
    margin-top: 20vh;
}

.word-kenapa-pilih h1 {
    font-size: 3.6vw;
    font-weight: bold;
}

.word-kenapa-pilih p {
    margin-top: 5vh;
    font-size: 1.2vw;
}

.kemudahan-kenapa-pilih,
.kecepatan-kenapa-pilih,
.fleksibilitas-kenapa-pilih {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 206px;
    /* background-color: #2C5F2D;
border-radius: 20px; */
    color: #FFFFFF;
    cursor: pointer;
}

.card-kenapa-pilih {
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.kecepatan-kenapa-pilih {
    margin-top: 35%;
}

.kemudahan-kenapa-pilih {
    margin-right: -10%;
}

.fleksibilitas-kenapa-pilih {
    margin-left: -10%;
}

.s4 {
    /* background-color: #FFE77A; */
    margin-top: 100vh;
}

.back {
    background-color: #2C5F2D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    background-color: #2C5F2D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}


/* section 5 home page */
.home-fifth {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    text-align: center;
}

.share-love-word h1 {
    font-size: 4.557291666666667vw;
    color: #2F2D65;
}

.share-love-word p {
    font-size: 1.0416666666666667vw;
    color: #5D5D83;
}

/* footer */
.footer {
    width: 100%;
    height: 30vh;
    background-color: #2F2D65;
    color: #FFFFFF;
    padding-top: 10vh;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content p {
    font-weight: bold;
}

/* dashboard section */

/* navbar */
.navbar-dashboard span {
    color: #2F2D65;
}

.menu-pengguna {
    width: 10vw;
}

.menu {
    padding-left: 2vw;
    margin-top: 5vh;
    cursor: pointer;
}

.menu a {
    color: #2F2D65;
    text-decoration: none;
    font-size: 1vw;
    margin-left: 1vw;
}

.dashboard-content {
    width: 100%;
    height: 100%;
    background-color: #9EEDE5;
    border-radius: 44px;
    padding: 3vw;
}

.selected {
    background-color: #4DB0FF;
    width: 100%;
    padding: 6% 2%;
    text-align: center;
    border-radius: 15px;
    color: #FFFFFF;
    box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 0.24);
}

.selected a {
    color: #FFFFFF;
    text-decoration: none;

}

.selected span {
    color: #FFFFFF;
}

.navbar-dashboard ul {
    list-style-type: none;
}

/* dashboard content*/

/* row 1 dashboard */
.first-row {
    width: 100%;
}

.first-row-word {
    color: #2F2D65;
}

.search-body {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 21px;
    /* height: 5%; */
}

.search-body p {
    margin-top: 1vh;
    margin-left: 1vw;
}

#search-tempat-antrean {
    padding: 10px;
    font-size: 16px;
    border-width: 0px;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    outline: none;
    width: 100%;
    /* vertical-align: middle; */
}

.first-row-search {
    width: 25%;
    height: 10%;
    /* margin-right: 30%; */
}

#search-button {
    height: 100%;
    padding: 10px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: #ffffff;
    border: none;
}

#search-button:active {
    /* position: relative; */
    font-size: small;
}


/* row 2 dahsbord */
/* slider kategori */
.second-row {
    width: 100%;
    margin-top: 5vh;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper {
    width: 50%;
}

.swiper-slide {
    text-align: center;
    width: auto;
}

.slide-image {
    height: 300px;
    width: auto;
    cursor: pointer;
}


.swiper-button-prev,
.swiper-button-next {
    color: #001A72;
}

/* row 3 dashboard */

.third-row {
    margin-top: 5vh;
}

.buat-antrian-field {
    background-color: #2B2844;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 5%;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
}

.buat-antrian-field h1 {
    font-size: 1.3vw;
    font-weight: bold;
    color: #FFFFFF;
}

.buat-antrian-field p {
    font-size: 0.7vw;
    font-weight: 300;
    color: #D5D4DB;
    margin-top: 10%;
}

.field-lokasi {
    background-color: #FFFFFF;
    width: 100%;
    height: 60vh;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
}

.coba {
    height: 100%;
}

.footer {
    margin-top: 1%;
}

.navbar-dashboard {
    position: fixed;
}

#tombol-buat-dashboard {
    margin-top: 15%;
    margin-bottom: 20%;
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 60px;
    text-decoration: none;
    border: none;
}

#tombol-buat-dashboard:hover {
    background-color: #6eb8f0;
}

#tombol-buat-dashboard:active {
    position: relative;
    top: 2px;
}

/* content lokasi antrian */
.word-field-lokasi {
    height: 15%;
}

.word-field-lokasi h1 {
    color: #2B2844;
    font-weight: bold;
}

.word-field-lokasi p {
    color: #73848C;
    font-weight: 300;
}


.content-field-lokasi {
    overflow: auto;
}

.content-field-lokasi::-webkit-scrollbar {
    width: 0.5vw;
}

.content-field-lokasi::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.content-field-lokasi::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #C4C4C4;
}

.content-field-lokasi a {
    text-decoration: none;
}

.hover-wrapper:hover {
    background-color: rgba(158, 237, 229, 0.1);
    border-radius: 30px;
}

.hover-wrapper {
    margin-bottom: 1%;
}

.hover-wrapper a {
    text-decoration: none;
}

.lokasi-wrapper {
    /* margin-bottom: 2%; */
    cursor: pointer;
}

.logo-lokasi {
    width: 6vw;
    height: 10vh;
    background-color: #9EEDE5;
    padding: 5%;
    border-radius: 15px;
}

.keterangan-lokasi {
    padding-left: 5%;
}

.keterangan-lokasi h1 {
    font-size: 1.5vw;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-lokasi p {
    color: #73848C;
    font-size: 0.8vw;
}

.deskripsi-attactment p {
    color: #73848C;
    font-size: 0.8vw;
}

/* all lokasi */
.field-lokasi-all {
    background-color: #FFFFFF;
    width: 100%;
    height: 80vh;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.field-lokasi-all::-webkit-scrollbar {
    width: 0.5vw;
}

.field-lokasi-all::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.field-lokasi-all::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #C4C4C4;
}

.filter-area {
    width: 6%;
    height: 40%;
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.10);
    border-radius: 7px;
}

#tombol-filter {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    border-radius: 7px;
    color: #73848C;
}

#tombol-filter:active {
    position: relative;
    top: 2px;
}

.bi-sort-alpha-down {
    margin-right: 10%;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

/* login page */
.login-page {
    background-color: #2F2D65;
    width: 100vw;
    height: 100vh;
}

.login-content-container {
    background-color: #ffffff;
    height: 70vh;
    width: 50vw;
    border-radius: 30px;
    box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.login-content {
    width: 100%;
    height: 100%;
}

.login-second-column {
    height: 90%;
    width: 30%;
    color: #2F2D65;
}

.login-second-column p {
    color: #73848C;
    font-size: 0.8vw;
}

.login-second-column form {
    width: 90%;
}

.login-second-column h3 {
    font-weight: bold;
}

.input-email,
.input-password {
    width: 100%;
}

.login-first-column {
    height: 90%;
}

.login-first-column h1 {
    font-weight: bold;
    color: #2F2D65;
}

/* modal untuk filter */
#modal-filter .modal-body-antrian,
.modal-header-antrian,
.modal-footer-antrian {
    background-color: #4dafff;
}


/* pilih loket */
.loket-lokasi {
    background-color: #FFFFFF;
    width: 100%;
    height: 40vh;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 5vh;
}

.keterangan-loket {
    padding-left: 5%;
}

.keterangan-loket h1 {
    font-size: 1.5vw;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-loket p {
    color: #73848C;
    font-size: 0.8vw;
}

.keterangan-loket p span {
    color: #2B2844;
    font-weight: bold;
    font-size: 0.8vw;
}

.keterangan-loket .badge {
    border-radius: 10px;
    color: #FFFFFF;
}

.keterangan-loket .open {
    background-color: #53D383;
}

.keterangan-loket .closed {
    background-color: #FF4D4D;
}


.btn-ambil-antrean {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 60px;
    text-decoration: none;
    border: none;
    width: 100%;
}

#tombol-ambil-antrian:hover {
    background-color: #6eb8f0;
}

#tombol-ambil-antrian:active {
    position: relative;
    top: 2px;
}

/* modal ambil nomor antrian */
.modal-body-loket {
    background-color: #2B2844;
    color: #FFFFFF;
    min-height: 70vh;
    max-height: 100vh;
    padding-bottom: 5%;
}

.modal-body-loket h1 {
    font-size: 4vw;
    font-weight: bold;
    color: #4DB0FF;
}

#tombol-detail-antrian {
    background-color: #4dafff;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 60px;
    text-decoration: none;
    border: none;
    width: 40%;
}

#tombol-detail-antrian:hover {
    background-color: #6eb8f0;
}

#tombol-detail-antrian:active {
    position: relative;
    top: 2px;
}

/* halaman antrianku */
.antrianku-menu {
    background-color: #FFFFFF;
    width: 100%;
    max-height: 10vh;
    /* padding: 1%; */
    border-radius: 30px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5vh;
}

.antrianku-menu button {
    width: 100%;
    height: 100%;
}

.menu-pengantri {
    width: 100%;
    height: 100%;
    padding-top: 1%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.menu-pengantri:hover,
.menu-buat-antrian:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.menu-antrianku-active {
    background-color: #4DB0FF;
}

.menu-antrianku-active:hover {
    background-color: #4DB0FF;
    cursor: default;
}

.menu-buat-antrian {
    width: 100%;
    height: 100%;
    padding-top: 1%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#tombol-ambil-batal-antrian {
    background-color: #FF4D4D;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    width: 30%;
}

#tombol-ambil-batal-antrian:hover {
    background-color: #cf2e2e;
}

#tombol-ambil-batal-antrian:active {
    position: relative;
    top: 2px;
}

.nomor-antrian {
    width: 100%;
    text-align: center;
}

.nomor-antrian p {
    font-size: 1.1vw;
    color: #2B2844;
    font-weight: bold;
}

.nomor-antrian h1 {
    font-size: 3vw;
    color: #4DB0FF;
    font-weight: bold;
}

.keterangan-loket-antrianku {
    padding-left: 5%;
    width: 100%;
}

.keterangan-loket-antrianku h1 {
    font-size: 1.5vw;
    color: #2B2844;
    font-weight: bold;
}

.keterangan-loket-antrianku p {
    color: #73848C;
    font-size: 0.8vw;
}

.keterangan-loket-antrianku p span {
    color: #2B2844;
    font-weight: bold;
    font-size: 0.8vw;
}
